body {
    background: url("images/mtns.png");
    background-size: cover; 
}

.jumbotron {
    background: grey;
    color: white;
    opacity: 0.7;
}

.far {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 60px;

}

#instructions { 
    color: white;
    background: grey;
    opacity: 0.7;
}

li {
    color: white;
    font-weight: bolder;
}

#randomNmbr {
    background: grey;
    color: white;
    opacity: 0.7;
}

#WandL {
    background: grey;
    color: white;
    opacity: 0.7;
}

#scoreTracker {
    background: grey;
    color: white;
    opacity: .7;
}

.col {
    background: white;
}

#reset {
    background: red;
    color: white;
    opacity: 0.7;
}